In [4]:
from collections import namedtuple

Coordinate = namedtuple("Coordinate","lat lon")

moscow = Coordinate(55.756,37.617)

moscow

moscow == Coordinate(lat=55.756, lon=37.617)

True

In [5]:
import typing

Coordinate = typing.NamedTuple("Coordinate",[('lat',float),('lon',float)])

typing.get_type_hints(Coordinate)

{'lat': float, 'lon': float}

In [9]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Coordinate:

    lat : float
    lon : float

    def __str__(self) -> str:
        
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >= 0 else 'W'
        return f'{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{we}'

In [10]:
Coordinate = Coordinate(37,21)

In [12]:
from collections import namedtuple
City = namedtuple("City",'name contry population coordinate')
Tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
Tokyo.population

36.933

In [13]:
Tokyo.coordinate

(35.689722, 139.691667)

In [14]:
Tokyo[1]

'JP'

In [15]:
City.__match_args__

('name', 'contry', 'population', 'coordinate')

In [19]:
class A:

    a : int 

    b : float = 1.1

    c = 'spam'

A.__annotations__

a = A()

In [20]:
from dataclasses import dataclass
@dataclass
class DemoDataClass:
    a: int
    b: float = 1.1
    c = 'spam'

In [21]:
DemoDataClass.__annotations__

{'a': int, 'b': float}

In [22]:
DemoDataClass.__doc__

'DemoDataClass(a: int, b: float = 1.1)'

In [23]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)
l2[1] += [33, 22]
l2[2] += (10, 11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]
l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]